portlets/webex-portlet/docroot/WEB-INF/xsd/2002/06/service/training/trainingsession.xsd

<?xml version="1.0"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:com="http://www.webex.com/schemas/2002/06/common" xmlns:serv="http://www.webex.com/schemas/2002/06/service" xmlns:sess="http://www.webex.com/schemas/2002/06/service/session" xmlns:qti="http://www.webex.com/schemas/2002/06/service/trainingsessionqti" xmlns:qtiasi="http://www.webex.com/schemas/2002/06/service/trainingsessionqtiasi" xmlns:train="http://www.webex.com/schemas/2002/06/service/trainingsession" targetNamespace="http://www.webex.com/schemas/2002/06/service/trainingsession" elementFormDefault="qualified">
	<xsd:import namespace="http://www.webex.com/schemas/2002/06/common" schemaLocation="../../common/common.xsd"/>
	<xsd:import namespace="http://www.webex.com/schemas/2002/06/service" schemaLocation="../service.xsd"/>
	<xsd:import namespace="http://www.webex.com/schemas/2002/06/service/session" schemaLocation="../session/session.xsd"/>
	<xsd:import namespace="http://www.webex.com/schemas/2002/06/service/trainingsessionqti" schemaLocation="../training/training_ims_qtiresv1p2.xsd"/>
	<xsd:import namespace="http://www.webex.com/schemas/2002/06/service/trainingsessionqtiasi" schemaLocation="../training/training_ims_qtiasiv1p2.xsd"/>
	<xsd:annotation>
		<xsd:documentation xml:lang="en">Schema used for representing create, read, update and delete operations on a training session.</xsd:documentation>
	</xsd:annotation>
	<xsd:complexType name="trainingSessionType">
		<xsd:complexContent>
			<xsd:extension base="sess:sessionType">
				<xsd:sequence>
					<xsd:element name="metaData" type="train:trainingMetaDataType" minOccurs="0"/>
					<xsd:element name="enableOptions" type="train:trainingEnableOptionsType" minOccurs="0"/>
					<xsd:element name="telephony" type="sess:telephonyType" minOccurs="0"/>
					<xsd:element name="tracking" type="com:trackingType" minOccurs="0"/>
					<xsd:element name="repeat" type="train:trainRepeatType" minOccurs="0"/>
					<xsd:element name="remind" type="sess:remindType" minOccurs="0"/>
					<xsd:element name="presenters" type="sess:participantsType" minOccurs="0"/>
					<xsd:element name="attendees" type="sess:participantsType" minOccurs="0"/>
					<xsd:element name="attendeeOptions" type="train:attendeeOptionsType" minOccurs="0"/>
					<xsd:element name="handsOnLab" type="train:handsOnLabType" minOccurs="0"/>
					<xsd:element name="psoFields" type="com:psoFieldsType" minOccurs="0"/>
					<xsd:element name="assistService" type="serv:meetingAssistType" minOccurs="0"/>
					<xsd:element name="preAssignBreakout" minOccurs="0">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="enable" type="xsd:boolean" minOccurs="0"/>
								<xsd:element name="attendeeAssign" type="train:attendeeAssignType" minOccurs="0"/>
								<xsd:element name="numSessions" type="xsd:int" minOccurs="0"/>
								<xsd:element name="attendeesPerSess" type="xsd:int" minOccurs="0"/>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="trainingSessionInstanceType">
		<xsd:complexContent>
			<xsd:extension base="train:trainingSessionType">
				<xsd:sequence>
					<xsd:element name="sessionKey" type="xsd:long"/>
					<xsd:element name="status" type="sess:statusType" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="trainingSessionSummaryInstanceType">
		<xsd:complexContent>
			<xsd:extension base="serv:bodyContentType">
				<xsd:sequence>
					<xsd:element name="sessionKey" type="xsd:long" minOccurs="0"/>
					<xsd:element name="confName" type="xsd:string" minOccurs="0"/>
					<xsd:element name="meetingType" type="xsd:long" minOccurs="0"/>
					<xsd:element name="hostWebExID" type="xsd:string" minOccurs="0"/>
					<xsd:element name="otherHostWebExID" type="xsd:string" minOccurs="0"/>
					<xsd:element name="timeZoneID" type="xsd:long" minOccurs="0"/>
					<xsd:element name="timeZone" type="xsd:string" minOccurs="0"/>
					<xsd:element name="status" type="xsd:string" minOccurs="0"/>
					<xsd:element name="startDate" type="xsd:string" minOccurs="0"/>
					<xsd:element name="duration" type="xsd:integer" minOccurs="0"/>
					<xsd:element name="listStatus" type="sess:listingType" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:annotation>
		<xsd:documentation>Base training session actions</xsd:documentation>
	</xsd:annotation>
	<xsd:complexType name="createTrainingSession">
		<xsd:complexContent>
			<xsd:extension base="train:trainingSessionType">
				<xsd:sequence>
					<xsd:element name="validateFormat" type="xsd:boolean" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="createTrainingSessionResponse">
		<xsd:complexContent>
			<xsd:extension base="serv:bodyContentType">
				<xsd:sequence>
					<xsd:element name="sessionkey" type="xsd:long" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element name="additionalInfo" minOccurs="0">
						<xsd:complexType>
							<xsd:sequence minOccurs="0" maxOccurs="unbounded">
								<xsd:element name="sessionkey" type="xsd:long" minOccurs="0"/>
								<xsd:element name="guestToken" type="xsd:string" minOccurs="0"/>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="lstsummaryTrainingSession">
		<xsd:complexContent>
			<xsd:extension base="serv:bodyContentType">
				<xsd:sequence>
					<xsd:element name="listControl" type="serv:lstControlType" minOccurs="0"/>
					<xsd:element name="order" type="train:orderType" minOccurs="0"/>
					<xsd:element name="dateScope" type="sess:dateScopeType" minOccurs="0"/>
					<xsd:element name="sessionKey" type="xsd:long" minOccurs="0"/>
					<xsd:element name="hostWebExID" type="xsd:string" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="lstsummaryTrainingSessionResponse">
		<xsd:complexContent>
			<xsd:extension base="serv:bodyContentType">
				<xsd:sequence>
					<xsd:element name="trainingSession" type="train:trainingSessionSummaryInstanceType" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element name="matchingRecords" type="serv:matchingRecordsType" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="lstTrainingSession">
		<xsd:complexContent>
			<xsd:extension base="serv:bodyContentType">
				<xsd:sequence>
					<xsd:element name="listControl" type="serv:lstControlType" minOccurs="0"/>
					<xsd:element name="order" type="train:orderType" minOccurs="0"/>
					<xsd:element name="timeZoneID" type="xsd:long" minOccurs="0"/>
					<xsd:element name="dateScope" type="sess:dateScopeType" minOccurs="0"/>
					<xsd:element name="sessionKey" type="xsd:long" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="lstTrainingSessionResponse">
		<xsd:complexContent>
			<xsd:extension base="serv:bodyContentType">
				<xsd:sequence>
					<xsd:element name="trainingSession" type="train:trainingSessionInstanceType" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element name="matchingRecords" type="serv:matchingRecordsType" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="delTrainingSession">
		<xsd:complexContent>
			<xsd:extension base="serv:bodyContentType">
				<xsd:sequence>
					<xsd:element name="sessionKey" type="xsd:long"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="delTrainingSessionResponse">
		<xsd:complexContent>
			<xsd:extension base="serv:bodyContentType"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="getTrainingSession">
		<xsd:complexContent>
			<xsd:extension base="serv:bodyContentType">
				<xsd:sequence>
					<xsd:element name="sessionKey" type="xsd:long"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="getTrainingSessionResponse">
		<xsd:complexContent>
			<xsd:extension base="train:trainingSessionInstanceType">
				<xsd:sequence>
					<xsd:element name="test" type="train:scheduledTestType" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element name="hostKey" type="xsd:string" minOccurs="0"/>
					<xsd:element name="eventID" type="xsd:long" minOccurs="0"/>
					<xsd:element name="guestToken" type="xsd:string" minOccurs="0"/>
					<xsd:element name="hostType" type="xsd:string" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="setTrainingSession">
		<xsd:complexContent>
			<xsd:extension base="train:trainingSessionInstanceType">
				<xsd:sequence>
					<xsd:element name="validateFormat" type="xsd:boolean" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="setTrainingSessionResponse">
		<xsd:complexContent>
			<xsd:extension base="serv:bodyContentType"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="trainingMetaDataType">
		<xsd:complexContent>
			<xsd:extension base="sess:metaDataType">
				<xsd:sequence>
					<xsd:element name="agenda" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="2500"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="description" type="xsd:string" minOccurs="0"/>
					<xsd:element name="greeting" type="xsd:string" minOccurs="0"/>
					<xsd:element name="location" type="xsd:string" minOccurs="0"/>
					<xsd:element name="invitation" type="xsd:string" minOccurs="0"/>
					<xsd:element name="sessionType" type="xsd:integer" default="-1" minOccurs="0"/>
					<xsd:element name="defaultHighestMT" type="xsd:boolean" default="true" minOccurs="0"/>
					<xsd:element name="sessionTemplate" type="com:sessionTemplateType" minOccurs="0"/>
					<xsd:element name="enableGreeting" type="xsd:boolean" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="trainingEnableOptionsType">
		<xsd:complexContent>
			<xsd:extension base="sess:enableOptionsType">
				<xsd:sequence>
					<xsd:element name="chat" type="xsd:boolean" default="false" minOccurs="0"/>
					<xsd:element name="poll" type="xsd:boolean" default="false" minOccurs="0"/>
					<xsd:element name="audioVideo" type="xsd:boolean" minOccurs="0"/>
					<xsd:element name="fileShare" type="xsd:boolean" minOccurs="0"/>
					<xsd:element name="presentation" type="xsd:boolean" minOccurs="0"/>
					<xsd:element name="applicationShare" type="xsd:boolean" minOccurs="0"/>
					<xsd:element name="desktopShare" type="xsd:boolean" minOccurs="0"/>
					<xsd:element name="webTour" type="xsd:boolean" default="false" minOccurs="0"/>
					<xsd:element name="trainingSessionRecord" type="xsd:boolean" minOccurs="0"/>
					<xsd:element name="annotation" type="xsd:boolean" minOccurs="0"/>
					<xsd:element name="importDocument" type="xsd:boolean" minOccurs="0"/>
					<xsd:element name="saveDocument" type="xsd:boolean" minOccurs="0"/>
					<xsd:element name="printDocument" type="xsd:boolean" minOccurs="0"/>
					<xsd:element name="pointer" type="xsd:boolean" minOccurs="0"/>
					<xsd:element name="switchPage" type="xsd:boolean" minOccurs="0"/>
					<xsd:element name="fullScreen" type="xsd:boolean" minOccurs="0"/>
					<xsd:element name="thumbnail" type="xsd:boolean" minOccurs="0"/>
					<xsd:element name="zoom" type="xsd:boolean" minOccurs="0"/>
					<xsd:element name="copyPage" type="xsd:boolean" minOccurs="0"/>
					<xsd:element name="rcAppShare" type="xsd:boolean" minOccurs="0"/>
					<xsd:element name="rcDesktopShare" type="xsd:boolean" minOccurs="0"/>
					<xsd:element name="rcWebTour" type="xsd:boolean" minOccurs="0"/>
					<xsd:element name="attendeeRecordTrainingSession" type="xsd:boolean" minOccurs="0"/>
					<xsd:element name="voip" type="xsd:boolean" minOccurs="0"/>
					<xsd:element name="faxIntoTrainingSession" type="xsd:boolean" minOccurs="0"/>
					<xsd:element name="autoDeleteAfterMeetingEnd" type="xsd:boolean" minOccurs="0"/>
					<xsd:element name="displayQuickStartHost" type="xsd:boolean" minOccurs="0"/>
					<xsd:element name="displayQuickStartAttendees" type="xsd:boolean" minOccurs="0"/>
					<xsd:element name="supportQandA" type="xsd:boolean" minOccurs="0"/>
					<xsd:element name="supportFeedback" type="xsd:boolean" minOccurs="0"/>
					<xsd:element name="supportBreakoutSessions" type="xsd:boolean" minOccurs="0"/>
					<xsd:element name="supportRemoteComputer" type="xsd:boolean" minOccurs="0"/>
					<xsd:element name="supportShareWebContent" type="xsd:boolean" minOccurs="0"/>
					<xsd:element name="supportUCFRichMedia" type="xsd:boolean" minOccurs="0"/>
					<xsd:element name="networkBasedRecord" type="xsd:boolean" minOccurs="0"/>
					<xsd:element name="presenterBreakoutSession" type="xsd:boolean" minOccurs="0"/>
					<xsd:element name="attendeeBreakoutSession" type="xsd:boolean" minOccurs="0"/>
					<xsd:element name="supportPanelists" type="xsd:boolean" minOccurs="0"/>
					<xsd:element name="muteOnEntry" type="xsd:boolean" minOccurs="0"/>
					<xsd:element name="multiVideo" type="xsd:boolean" minOccurs="0"/>
					<xsd:element name="veryLargeSess" type="xsd:boolean" minOccurs="0"/>
					<xsd:element name="HQvideo" type="xsd:boolean" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="trainRepeatType">
		<xsd:sequence>
			<xsd:element name="repeatType" type="train:repeatTypeType" minOccurs="0"/>
			<xsd:element name="expirationDate" type="xsd:string" minOccurs="0"/>
			<xsd:element name="dayInWeek" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="day" type="com:dayOfWeekType" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="endAfter" type="xsd:int" minOccurs="0"/>
			<xsd:element name="occurenceType" type="train:occurentTypeType" minOccurs="0"/>
			<xsd:element name="interval" type="xsd:int" minOccurs="0"/>
			<xsd:element name="dayInMonth" type="xsd:long" minOccurs="0"/>
			<xsd:element name="weekInMonth" type="xsd:long" minOccurs="0"/>
			<xsd:element name="monthInYear" type="xsd:long" minOccurs="0"/>
			<xsd:element name="dayInYear" type="xsd:long" minOccurs="0"/>
			<xsd:element name="repeatSession" type="train:repeatSessionType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="orderType">
		<xsd:sequence>
			<xsd:element name="orderBy" type="sess:orderByTrackingType" minOccurs="0" maxOccurs="3"/>
			<xsd:element name="orderAD" type="serv:lstOrderADType" minOccurs="0" maxOccurs="3"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="attendeeOptionsType">
		<xsd:sequence>
			<xsd:element name="request" type="xsd:boolean" minOccurs="0"/>
			<xsd:element name="registration" type="xsd:boolean" minOccurs="0"/>
			<xsd:element name="auto" type="xsd:boolean" minOccurs="0"/>
			<xsd:element name="registrationPWD" type="xsd:string" minOccurs="0"/>
			<xsd:element name="maxRegistrations" type="xsd:long" minOccurs="0"/>
			<xsd:element name="registrationCloseDate" type="xsd:string" minOccurs="0"/>
			<xsd:element name="emailInvitations" type="xsd:boolean" default="false" minOccurs="0"/>
			<xsd:element name="participantLimit" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:int">
						<xsd:minInclusive value="0"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="repeatTypeType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="SINGLE"/>
			<xsd:enumeration value="RECURRING_SINGLE"/>
			<xsd:enumeration value="MULTIPLE_SESSION"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="occurentTypeType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="WEEKLY"/>
			<xsd:enumeration value="DAILY"/>
			<xsd:enumeration value="NO_REPEAT"/>
			<xsd:enumeration value="CONSTANT"/>
			<xsd:enumeration value="MONTHLY"/>
			<xsd:enumeration value="IRREGULARLY"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:annotation>
		<xsd:documentation>Hands-On Lab support actions, introduced since V3.5</xsd:documentation>
	</xsd:annotation>
	<xsd:complexType name="getLabInfo">
		<xsd:complexContent>
			<xsd:extension base="serv:bodyContentType">
				<xsd:sequence>
					<xsd:element name="labName" type="xsd:string" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="getLabInfoResponse">
		<xsd:complexContent>
			<xsd:extension base="serv:bodyContentType">
				<xsd:sequence>
					<xsd:element name="labInfo" type="train:labInfoType" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="checkLabAvailability">
		<xsd:complexContent>
			<xsd:extension base="serv:bodyContentType">
				<xsd:sequence>
					<xsd:element name="labName" type="xsd:string"/>
					<xsd:element name="timeZoneID" type="xsd:int" default="-1"/>
					<xsd:element name="sessionStartTime" type="xsd:string"/>
					<xsd:element name="sessionEndTime" type="xsd:string"/>
					<xsd:element name="numComputers" type="xsd:int"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="checkLabAvailabilityResponse">
		<xsd:complexContent>
			<xsd:extension base="serv:bodyContentType">
				<xsd:sequence>
					<xsd:element name="availabilityLabs" type="train:availabilityLabType" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="getLabSchedule">
		<xsd:complexContent>
			<xsd:extension base="serv:bodyContentType">
				<xsd:sequence>
					<xsd:element name="labName" type="xsd:string"/>
					<xsd:element name="timeZoneID" type="xsd:int" default="-1"/>
					<xsd:element name="sessionStartTime" type="xsd:string"/>
					<xsd:element name="sessionEndTime" type="xsd:string"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="getLabScheduleResponse">
		<xsd:complexContent>
			<xsd:extension base="serv:bodyContentType">
				<xsd:sequence>
					<xsd:element name="scheduledLabs" type="train:scheduleLabType" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="handsOnLabType">
		<xsd:sequence>
			<xsd:element name="reserveHOL" type="xsd:boolean" minOccurs="0"/>
			<xsd:element name="labName" type="xsd:string" minOccurs="0"/>
			<xsd:element name="numComputers" type="xsd:int" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="labInfoType">
		<xsd:sequence>
			<xsd:element name="labName" type="xsd:string"/>
			<xsd:element name="description" type="xsd:string" minOccurs="0"/>
			<xsd:element name="totalComputers" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="computersInSession" type="xsd:integer" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="scheduleLabType">
		<xsd:sequence>
			<xsd:element name="labName" type="xsd:string"/>
			<xsd:element name="confName" type="xsd:string"/>
			<xsd:element name="timeZoneID" type="xsd:integer"/>
			<xsd:element name="sessionStartTime" type="xsd:string"/>
			<xsd:element name="sessionEndTime" type="xsd:string"/>
			<xsd:element name="hostWebExID" type="xsd:string"/>
			<xsd:element name="numComputers" type="xsd:integer"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="availabilityLabType">
		<xsd:sequence>
			<xsd:element name="labName" type="xsd:string"/>
			<xsd:element name="timeZoneID" type="xsd:integer"/>
			<xsd:element name="sessionStartTime" type="xsd:string"/>
			<xsd:element name="sessionEndTime" type="xsd:string"/>
			<xsd:element name="numComputers" type="xsd:integer"/>
			<xsd:element name="status" type="com:labStatusType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:annotation>
		<xsd:documentation>Base type for TDR (test data retrieval)</xsd:documentation>
	</xsd:annotation>
	<xsd:complexType name="scheduledTestInstanceType">
		<xsd:complexContent>
			<xsd:extension base="serv:bodyContentType">
				<xsd:sequence>
					<xsd:element name="testID" type="xsd:integer"/>
					<xsd:element name="title" type="xsd:string"/>
					<xsd:element name="delivery" type="train:testDeliveryType" default="IN_SESSION"/>
					<xsd:element name="status" type="train:testStatusType" default="NOT_STARTED"/>
					<xsd:element name="dueDate" type="xsd:string" minOccurs="0"/>
					<xsd:element name="sessionKey" type="xsd:long"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:annotation>
		<xsd:documentation>Test data retrieval actions, introduced since V3.6</xsd:documentation>
	</xsd:annotation>
	<xsd:complexType name="lstScheduledTests">
		<xsd:complexContent>
			<xsd:extension base="serv:bodyContentType">
				<xsd:sequence>
					<xsd:element name="dateScope" type="sess:dateScopeType" minOccurs="0"/>
					<xsd:element name="sessionKey" type="xsd:long" minOccurs="0"/>
					<xsd:element name="status" type="train:testStatusType" minOccurs="0"/>
					<xsd:element name="author" type="xsd:string" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="lstScheduledTestsResponse">
		<xsd:complexContent>
			<xsd:extension base="serv:bodyContentType">
				<xsd:sequence>
					<xsd:element name="test" type="train:scheduledTestInstanceType" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="getTestInformation">
		<xsd:complexContent>
			<xsd:extension base="serv:bodyContentType">
				<xsd:sequence>
					<xsd:element name="testID" type="xsd:integer"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="getTestInformationResponse">
		<xsd:complexContent>
			<xsd:extension base="train:scheduledTestInstanceType">
				<xsd:sequence>
					<xsd:element name="description" type="xsd:string" minOccurs="0"/>
					<xsd:element name="startDate" type="xsd:string"/>
					<xsd:element name="timeLimit" type="xsd:integer" minOccurs="0"/>
					<xsd:element name="author" type="xsd:string"/>
					<xsd:element name="numQuestions" type="xsd:integer"/>
					<xsd:element name="numSubmitted" type="xsd:integer"/>
					<xsd:element name="numStarted" type="xsd:integer"/>
					<xsd:element name="numSubmittedUnscroed" type="xsd:integer"/>
					<xsd:element name="numSubmittedUnscored" type="xsd:integer" minOccurs="0"/>
					<xsd:element name="submittedTest" type="train:submittedTestType" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element name="maxScore" type="xsd:integer" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="getIMStestResult">
		<xsd:complexContent>
			<xsd:extension base="serv:bodyContentType">
				<xsd:sequence>
					<xsd:element name="testID" type="xsd:integer"/>
					<xsd:element name="participantEmail" type="xsd:string"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="getIMStestResultResponse">
		<xsd:complexContent>
			<xsd:extension base="serv:bodyContentType">
				<xsd:sequence>
					<xsd:element name="qti_result_report" type="qti:qti_result_reportType"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="getIMStestDetails">
		<xsd:complexContent>
			<xsd:extension base="serv:bodyContentType">
				<xsd:sequence>
					<xsd:element name="testID" type="xsd:integer"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="getIMStestDetailsResponse">
		<xsd:complexContent>
			<xsd:extension base="serv:bodyContentType">
				<xsd:sequence>
					<xsd:element name="questestinterop" type="qtiasi:questestinteropType"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:annotation>
		<xsd:documentation>Helper types definitions for TDR</xsd:documentation>
	</xsd:annotation>
	<xsd:complexType name="scheduledTestType">
		<xsd:sequence>
			<xsd:element name="testID" type="xsd:integer"/>
			<xsd:element name="title" type="xsd:string"/>
			<xsd:element name="delivery" type="train:testDeliveryType" default="IN_SESSION"/>
			<xsd:element name="status" type="train:testStatusType" default="NOT_STARTED"/>
			<xsd:element name="dueDate" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="submittedTestType">
		<xsd:sequence>
			<xsd:element name="name" type="xsd:string"/>
			<xsd:element name="email" type="xsd:string"/>
			<xsd:element name="submitDate" type="xsd:string"/>
			<xsd:element name="score" type="xsd:integer"/>
			<xsd:element name="grade" type="xsd:string"/>
			<xsd:element name="registerID" type="xsd:integer"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="testDeliveryType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="WEBSITE"/>
			<xsd:enumeration value="IN_SESSION"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="testStatusType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="NOT_STARTED"/>
			<xsd:enumeration value="STARTED"/>
			<xsd:enumeration value="ENDED"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="registrationFormType">
		<xsd:sequence>
			<xsd:element name="standardFields" type="train:standardFieldsType" minOccurs="0"/>
			<xsd:element name="customFields" type="train:customFieldsType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="registrationFormInstanceType">
		<xsd:sequence>
			<xsd:element name="standardFields" type="train:standardFieldsType" minOccurs="0"/>
			<xsd:element name="customFields" type="train:customFieldsInstanceType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="standardFieldsType">
		<xsd:sequence>
			<xsd:element name="phone" type="train:enrollmentFieldType" minOccurs="0"/>
			<xsd:element name="title" type="train:enrollmentFieldType" minOccurs="0"/>
			<xsd:element name="company" type="train:enrollmentFieldType" minOccurs="0"/>
			<xsd:element name="address1" type="train:enrollmentFieldType" minOccurs="0"/>
			<xsd:element name="address2" type="train:enrollmentFieldType" minOccurs="0"/>
			<xsd:element name="city" type="train:enrollmentFieldType" minOccurs="0"/>
			<xsd:element name="state" type="train:enrollmentFieldType" minOccurs="0"/>
			<xsd:element name="postalCode" type="train:enrollmentFieldType" minOccurs="0"/>
			<xsd:element name="country" type="train:enrollmentFieldType" minOccurs="0"/>
			<xsd:element name="fax" type="train:enrollmentFieldType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="customFieldsType">
		<xsd:sequence>
			<xsd:element name="textBox" type="train:textboxType" minOccurs="0"/>
			<xsd:element name="checkBoxGroup" type="train:checkboxGroupType" minOccurs="0"/>
			<xsd:element name="optionButtonGroup" type="train:choiceGroupType" minOccurs="0"/>
			<xsd:element name="dropDownGroup" type="train:choiceGroupType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="customFieldsInstanceType">
		<xsd:sequence>
			<xsd:element name="textBox" type="train:textboxInstanceType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="checkBoxGroup" type="train:checkboxGroupInstanceType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="optionButtonGroup" type="train:choiceGroupInstanceType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="dropDownGroup" type="train:choiceGroupInstanceType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="enrollmentFieldType">
		<xsd:sequence>
			<xsd:element name="incl" type="xsd:boolean" default="true" minOccurs="0"/>
			<xsd:element name="req" type="xsd:boolean" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="textboxType">
		<xsd:complexContent>
			<xsd:extension base="train:enrollmentFieldType">
				<xsd:sequence>
					<xsd:element name="label">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="256"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="type" type="train:textboxTypeType" default="SINGLE_LINE" minOccurs="0"/>
					<xsd:element name="width" type="xsd:integer" minOccurs="0"/>
					<xsd:element name="height" type="xsd:integer" minOccurs="0"/>
					<xsd:element name="index" type="xsd:integer" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="textboxInstanceType">
		<xsd:complexContent>
			<xsd:extension base="train:textboxType">
				<xsd:sequence>
					<xsd:element name="fieldID" type="xsd:long" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:simpleType name="textboxTypeType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="SINGLE_LINE"/>
			<xsd:enumeration value="MULTI_LINE"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="checkboxGroupType">
		<xsd:complexContent>
			<xsd:extension base="train:enrollmentFieldType">
				<xsd:sequence>
					<xsd:element name="label">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="256"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="index" type="xsd:integer" minOccurs="0"/>
					<xsd:element name="checkbox" type="train:checkboxType" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="checkboxGroupInstanceType">
		<xsd:complexContent>
			<xsd:extension base="train:checkboxType">
				<xsd:sequence>
					<xsd:element name="fieldID" type="xsd:long" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="checkboxType">
		<xsd:sequence>
			<xsd:element name="label">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="256"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="state" type="train:checkboxStateType" default="CLEARED" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="checkboxStateType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="CLEARED"/>
			<xsd:enumeration value="SELECTED"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="choiceGroupType">
		<xsd:complexContent>
			<xsd:extension base="train:enrollmentFieldType">
				<xsd:sequence>
					<xsd:element name="label">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="256"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="defaultChoice" type="xsd:integer" minOccurs="0"/>
					<xsd:element name="index" type="xsd:integer" minOccurs="0"/>
					<xsd:element name="choice" type="train:choiceType" minOccurs="2" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="choiceGroupInstanceType">
		<xsd:complexContent>
			<xsd:extension base="train:choiceGroupType">
				<xsd:sequence>
					<xsd:element name="fieldID" type="xsd:long" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="lstLibTests">
		<xsd:complexContent>
			<xsd:extension base="serv:bodyContentType"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:simpleType name="shareType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="PRIVATE"/>
			<xsd:enumeration value="SHARE"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="lstLibTestsResponse">
		<xsd:complexContent>
			<xsd:extension base="serv:bodyContentType">
				<xsd:sequence>
					<xsd:element name="libTest" type="train:libTestInstanceType" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="libTestInstanceType">
		<xsd:sequence>
			<xsd:element name="testID" type="xsd:long"/>
			<xsd:element name="type" type="train:shareType"/>
			<xsd:element name="title" type="xsd:string"/>
			<xsd:element name="description" type="xsd:string"/>
			<xsd:element name="author" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="delLibTests">
		<xsd:complexContent>
			<xsd:extension base="serv:bodyContentType">
				<xsd:sequence>
					<xsd:element name="testID" type="xsd:long" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="delLibTestsResponse">
		<xsd:complexContent>
			<xsd:extension base="serv:bodyContentType"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="copyLibTests">
		<xsd:complexContent>
			<xsd:extension base="serv:bodyContentType">
				<xsd:sequence>
					<xsd:element name="testID" type="xsd:long" maxOccurs="unbounded"/>
					<xsd:element name="copyToType" type="train:shareType"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="copyLibTestsResponse">
		<xsd:complexContent>
			<xsd:extension base="serv:bodyContentType">
				<xsd:sequence>
					<xsd:element name="testID" type="xsd:long" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="addScheduledTest">
		<xsd:complexContent>
			<xsd:extension base="serv:bodyContentType">
				<xsd:sequence>
					<xsd:element name="sessionKey" type="xsd:long"/>
					<xsd:element name="testID" type="xsd:long" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="addScheduledTestResponse">
		<xsd:complexContent>
			<xsd:extension base="serv:bodyContentType">
				<xsd:sequence>
					<xsd:element name="testID" type="xsd:long" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="setScheduledTest">
		<xsd:complexContent>
			<xsd:extension base="serv:bodyContentType">
				<xsd:sequence>
					<xsd:element name="sessionKey" type="xsd:long"/>
					<xsd:element name="testID" type="xsd:long"/>
					<xsd:element name="deliveryMethod">
						<xsd:complexType>
							<xsd:choice>
								<xsd:element name="session">
									<xsd:simpleType>
										<xsd:restriction base="xsd:string">
											<xsd:pattern value="true|TRUE"/>
										</xsd:restriction>
									</xsd:simpleType>
								</xsd:element>
								<xsd:element name="website" type="train:webSiteType"/>
							</xsd:choice>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="timeLimit">
						<xsd:complexType>
							<xsd:choice>
								<xsd:element name="noLimit">
									<xsd:simpleType>
										<xsd:restriction base="xsd:string">
											<xsd:pattern value="true|TRUE"/>
										</xsd:restriction>
									</xsd:simpleType>
								</xsd:element>
								<xsd:element name="withinMinutes">
									<xsd:simpleType>
										<xsd:restriction base="xsd:int">
											<xsd:minInclusive value="1"/>
										</xsd:restriction>
									</xsd:simpleType>
								</xsd:element>
							</xsd:choice>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="sendReport" type="xsd:boolean" minOccurs="0"/>
					<xsd:element name="attemptLimit">
						<xsd:complexType>
							<xsd:choice>
								<xsd:element name="noLimit">
									<xsd:simpleType>
										<xsd:restriction base="xsd:string">
											<xsd:pattern value="true|TRUE"/>
										</xsd:restriction>
									</xsd:simpleType>
								</xsd:element>
								<xsd:element name="attemptTimes">
									<xsd:simpleType>
										<xsd:restriction base="xsd:int">
											<xsd:minInclusive value="1"/>
										</xsd:restriction>
									</xsd:simpleType>
								</xsd:element>
							</xsd:choice>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="setScheduledTestResponse">
		<xsd:complexContent>
			<xsd:extension base="serv:bodyContentType"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="webSiteType">
		<xsd:sequence>
			<xsd:element name="startDate">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string"/>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="dueDate" type="xsd:string"/>
			<xsd:element name="emailAttendee" type="train:emailAttendeeType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="emailAttendeeType">
		<xsd:sequence>
			<xsd:element name="invite" type="xsd:boolean" minOccurs="0"/>
			<xsd:element name="reminderAfterStart" type="xsd:boolean" minOccurs="0"/>
			<xsd:element name="beforeDays" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:int">
						<xsd:minInclusive value="0"/>
						<xsd:maxInclusive value="99"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="beforeHours" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:int">
						<xsd:minInclusive value="0"/>
						<xsd:maxInclusive value="23"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="beforeMinutes" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:int">
						<xsd:minInclusive value="0"/>
						<xsd:maxInclusive value="59"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="sendToRegister" type="xsd:boolean" minOccurs="0"/>
			<xsd:element name="notifySubmits" type="xsd:boolean" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="delScheduledTest">
		<xsd:complexContent>
			<xsd:extension base="serv:bodyContentType">
				<xsd:sequence>
					<xsd:element name="testID" type="xsd:long" maxOccurs="unbounded"/>
					<xsd:element name="sessionKey" type="xsd:long"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="delScheduledTestResponse">
		<xsd:complexContent>
			<xsd:extension base="serv:bodyContentType"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="choiceType">
		<xsd:sequence>
			<xsd:element name="label">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="256"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="actionType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="EDIT"/>
			<xsd:enumeration value="DELETE"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="repeatSessionType">
		<xsd:sequence>
			<xsd:element name="action" type="train:actionType" minOccurs="0"/>
			<xsd:element name="index" type="xsd:int"/>
			<xsd:element name="startDate" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="uploadIMStest">
		<xsd:complexContent>
			<xsd:extension base="serv:bodyContentType">
				<xsd:sequence>
					<xsd:element name="display">
						<xsd:complexType>
							<xsd:choice>
								<xsd:element name="allOnePage">
									<xsd:simpleType>
										<xsd:restriction base="xsd:string">
											<xsd:pattern value="true|TRUE"/>
										</xsd:restriction>
									</xsd:simpleType>
								</xsd:element>
								<xsd:element name="onePerPage">
									<xsd:simpleType>
										<xsd:restriction base="xsd:string">
											<xsd:pattern value="true|TRUE"/>
										</xsd:restriction>
									</xsd:simpleType>
								</xsd:element>
							</xsd:choice>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="assignGrades" type="xsd:boolean" minOccurs="0"/>
					<xsd:element name="questestinterop" type="qtiasi:questestinteropType"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="uploadIMStestResponse">
		<xsd:complexContent>
			<xsd:extension base="serv:bodyContentType">
				<xsd:sequence>
					<xsd:element name="testID" type="xsd:long" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="reserveLab">
		<xsd:complexContent>
			<xsd:extension base="serv:bodyContentType">
				<xsd:sequence>
					<xsd:element name="labName" type="xsd:string"/>
					<xsd:element name="numComputers" type="xsd:int"/>
					<xsd:element name="topic" type="xsd:string"/>
					<xsd:element name="startDate">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string"/>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="endDate" type="xsd:string"/>
					<xsd:element name="timeZoneID" type="xsd:int" default="-1" minOccurs="0"/>
					<xsd:element name="timeLimit" default="60" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:int">
								<xsd:minInclusive value="1"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="sendMail" type="xsd:boolean" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="reserveLabResponse">
		<xsd:complexContent>
			<xsd:extension base="serv:bodyContentType">
				<xsd:sequence>
					<xsd:element name="holSessionID" type="xsd:long" default="-1" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:simpleType name="attendeeAssignType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="AUTO"/>
			<xsd:enumeration value="MANUAL"/>
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>