portlets/wsrp-portlet/docroot/WEB-INF/wsdl/wsrp-2.0-interfaces.wsdl

<?xml version="1.0"?>

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:types="urn:oasis:names:tc:wsrp:v2:types" xmlns:intf="urn:oasis:names:tc:wsrp:v2:intf" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" targetNamespace="urn:oasis:names:tc:wsrp:v2:intf">
	<wsdl:types>
		<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:oasis:names:tc:wsrp:v2:intf" elementFormDefault="qualified">
			<import namespace="urn:oasis:names:tc:wsrp:v2:types" schemaLocation="wsrp-2.0-types.xsd"/>
		</schema>
	</wsdl:types>
	<wsdl:message name="AccessDenied">
		<wsdl:part name="fault" element="types:AccessDenied"/>
	</wsdl:message>
	<wsdl:message name="InconsistentParameters">
		<wsdl:part name="fault" element="types:InconsistentParameters"/>
	</wsdl:message>
	<wsdl:message name="InvalidCookie">
		<wsdl:part name="fault" element="types:InvalidCookie"/>
	</wsdl:message>
	<wsdl:message name="InvalidHandle">
		<wsdl:part name="fault" element="types:InvalidHandle"/>
	</wsdl:message>
	<wsdl:message name="InvalidRegistration">
		<wsdl:part name="fault" element="types:InvalidRegistration"/>
	</wsdl:message>
	<wsdl:message name="InvalidSession">
		<wsdl:part name="fault" element="types:InvalidSession"/>
	</wsdl:message>
	<wsdl:message name="InvalidUserCategory">
		<wsdl:part name="fault" element="types:InvalidUserCategory"/>
	</wsdl:message>
	<wsdl:message name="ModifyRegistrationRequired">
		<wsdl:part name="fault" element="types:ModifyRegistrationRequired"/>
	</wsdl:message>
	<wsdl:message name="MissingParameters">
		<wsdl:part name="fault" element="types:MissingParameters"/>
	</wsdl:message>
	<wsdl:message name="OperationFailed">
		<wsdl:part name="fault" element="types:OperationFailed"/>
	</wsdl:message>
	<wsdl:message name="OperationNotSupported">
		<wsdl:part name="fault" element="types:OperationNotSupported"/>
	</wsdl:message>
	<wsdl:message name="PortletStateChangeRequired">
		<wsdl:part name="fault" element="types:PortletStateChangeRequired"/>
	</wsdl:message>
	<wsdl:message name="ResourceSuspended">
		<wsdl:part name="fault" element="types:ResourceSuspended"/>
	</wsdl:message>
	<wsdl:message name="UnsupportedMode">
		<wsdl:part name="fault" element="types:UnsupportedMode"/>
	</wsdl:message>
	<wsdl:message name="UnsupportedLocale">
		<wsdl:part name="fault" element="types:UnsupportedLocale"/>
	</wsdl:message>
	<wsdl:message name="UnsupportedMimeType">
		<wsdl:part name="fault" element="types:UnsupportedMimeType"/>
	</wsdl:message>
	<wsdl:message name="UnsupportedWindowState">
		<wsdl:part name="fault" element="types:UnsupportedWindowState"/>
	</wsdl:message>
	<wsdl:message name="ExportByValueNotSupported">
		<wsdl:part name="fault" element="types:ExportByValueNotSupported"/>
	</wsdl:message>
	<wsdl:message name="ExportNoLongerValid">
		<wsdl:part name="fault" element="types:ExportNoLongerValid"/>
	</wsdl:message>
	<wsdl:message name="getMarkup">
		<wsdl:part name="getMarkup" element="types:getMarkup"/>
	</wsdl:message>
	<wsdl:message name="getMarkupResponse">
		<wsdl:part name="getMarkupResponse" element="types:getMarkupResponse"/>
	</wsdl:message>
	<wsdl:message name="getResource">
		<wsdl:part name="getResource" element="types:getResource"/>
	</wsdl:message>
	<wsdl:message name="getResourceResponse">
		<wsdl:part name="getResourceResponse" element="types:getResourceResponse"/>
	</wsdl:message>
	<wsdl:message name="performBlockingInteraction">
		<wsdl:part name="performBlockingInteraction" element="types:performBlockingInteraction"/>
	</wsdl:message>
	<wsdl:message name="performBlockingInteractionResponse">
		<wsdl:part name="performBlockingInteractionResponse" element="types:performBlockingInteractionResponse"/>
	</wsdl:message>
	<wsdl:message name="handleEvents">
		<wsdl:part name="handleEvents" element="types:handleEvents"/>
	</wsdl:message>
	<wsdl:message name="handleEventsResponse">
		<wsdl:part name="handleEventsResponse" element="types:handleEventsResponse"/>
	</wsdl:message>
	<wsdl:message name="getServiceDescription">
		<wsdl:part name="getServiceDescription" element="types:getServiceDescription"/>
	</wsdl:message>
	<wsdl:message name="getServiceDescriptionResponse">
		<wsdl:part name="getServiceDescriptionResponse" element="types:getServiceDescriptionResponse"/>
	</wsdl:message>
	<wsdl:message name="register">
		<wsdl:part name="register" element="types:register"/>
	</wsdl:message>
	<wsdl:message name="registerResponse">
		<wsdl:part name="registerResponse" element="types:registerResponse"/>
	</wsdl:message>
	<wsdl:message name="deregister">
		<wsdl:part name="deregister" element="types:deregister"/>
	</wsdl:message>
	<wsdl:message name="deregisterResponse">
		<wsdl:part name="deregisterResponse" element="types:deregisterResponse"/>
	</wsdl:message>
	<wsdl:message name="modifyRegistration">
		<wsdl:part name="modifyRegistration" element="types:modifyRegistration"/>
	</wsdl:message>
	<wsdl:message name="modifyRegistrationResponse">
		<wsdl:part name="modifyRegistrationResponse" element="types:modifyRegistrationResponse"/>
	</wsdl:message>
	<wsdl:message name="getPortletDescription">
		<wsdl:part name="getPortletDescription" element="types:getPortletDescription"/>
	</wsdl:message>
	<wsdl:message name="getPortletDescriptionResponse">
		<wsdl:part name="getPortletDescriptionResponse" element="types:getPortletDescriptionResponse"/>
	</wsdl:message>
	<wsdl:message name="clonePortlet">
		<wsdl:part name="clonePortlet" element="types:clonePortlet"/>
	</wsdl:message>
	<wsdl:message name="clonePortletResponse">
		<wsdl:part name="clonePortletResponse" element="types:clonePortletResponse"/>
	</wsdl:message>
	<wsdl:message name="destroyPortlets">
		<wsdl:part name="destroyPortlets" element="types:destroyPortlets"/>
	</wsdl:message>
	<wsdl:message name="destroyPortletsResponse">
		<wsdl:part name="destroyPortletsResponse" element="types:destroyPortletsResponse"/>
	</wsdl:message>
	<wsdl:message name="setPortletProperties">
		<wsdl:part name="setPortletProperties" element="types:setPortletProperties"/>
	</wsdl:message>
	<wsdl:message name="setPortletPropertiesResponse">
		<wsdl:part name="setPortletPropertiesResponse" element="types:setPortletPropertiesResponse"/>
	</wsdl:message>
	<wsdl:message name="getPortletProperties">
		<wsdl:part name="getPortletProperties" element="types:getPortletProperties"/>
	</wsdl:message>
	<wsdl:message name="getPortletPropertiesResponse">
		<wsdl:part name="getPortletPropertiesResponse" element="types:getPortletPropertiesResponse"/>
	</wsdl:message>
	<wsdl:message name="getPortletPropertyDescription">
		<wsdl:part name="getPortletPropertyDescription" element="types:getPortletPropertyDescription"/>
	</wsdl:message>
	<wsdl:message name="getPortletPropertyDescriptionResponse">
		<wsdl:part name="getPortletPropertyDescriptionResponse" element="types:getPortletPropertyDescriptionResponse"/>
	</wsdl:message>
	<wsdl:message name="releaseSessions">
		<wsdl:part name="releaseSessions" element="types:releaseSessions"/>
	</wsdl:message>
	<wsdl:message name="releaseSessionsResponse">
		<wsdl:part name="releaseSessionsResponse" element="types:releaseSessionsResponse"/>
	</wsdl:message>
	<wsdl:message name="initCookie">
		<wsdl:part name="initCookie" element="types:initCookie"/>
	</wsdl:message>
	<wsdl:message name="initCookieResponse">
		<wsdl:part name="initCookieResponse" element="types:initCookieResponse"/>
	</wsdl:message>
	<wsdl:message name="copyPortlets">
		<wsdl:part name="copyPortlets" element="types:copyPortlets"/>
	</wsdl:message>
	<wsdl:message name="copyPortletsResponse">
		<wsdl:part name="copyPortletsResponse" element="types:copyPortletsResponse"/>
	</wsdl:message>
	<wsdl:message name="exportPortlets">
		<wsdl:part name="exportPortlets" element="types:exportPortlets"/>
	</wsdl:message>
	<wsdl:message name="exportPortletsResponse">
		<wsdl:part name="exportPortletsResponse" element="types:exportPortletsResponse"/>
	</wsdl:message>
	<wsdl:message name="importPortlets">
		<wsdl:part name="importPortlets" element="types:importPortlets"/>
	</wsdl:message>
	<wsdl:message name="importPortletsResponse">
		<wsdl:part name="importPortletsResponse" element="types:importPortletsResponse"/>
	</wsdl:message>
	<wsdl:message name="releaseExport">
		<wsdl:part name="releaseExport" element="types:releaseExport"/>
	</wsdl:message>
	<wsdl:message name="releaseExportResponse">
		<wsdl:part name="releaseExportResponse" element="types:releaseExportResponse"/>
	</wsdl:message>
	<wsdl:message name="setExportLifetime">
		<wsdl:part name="setExportLifetime" element="types:setExportLifetime"/>
	</wsdl:message>
	<wsdl:message name="setExportLifetimeResponse">
		<wsdl:part name="setExportLifetimeResponse" element="types:setExportLifetimeResponse"/>
	</wsdl:message>
	<wsdl:message name="getRegistrationLifetime">
		<wsdl:part name="getRegistrationLifetime" element="types:getRegistrationLifetime"/>
	</wsdl:message>
	<wsdl:message name="getRegistrationLifetimeResponse">
		<wsdl:part name="getRegistrationLifetimeResponse" element="types:getRegistrationLifetimeResponse"/>
	</wsdl:message>
	<wsdl:message name="setRegistrationLifetime">
		<wsdl:part name="setRegistrationLifetime" element="types:setRegistrationLifetime"/>
	</wsdl:message>
	<wsdl:message name="setRegistrationLifetimeResponse">
		<wsdl:part name="setRegistrationLifetimeResponse" element="types:setRegistrationLifetimeResponse"/>
	</wsdl:message>
	<wsdl:message name="getPortletsLifetime">
		<wsdl:part name="getPortletsLifetime" element="types:getPortletsLifetime"/>
	</wsdl:message>
	<wsdl:message name="getPortletsLifetimeResponse">
		<wsdl:part name="getPortletsLifetimeResponse" element="types:getPortletsLifetimeResponse"/>
	</wsdl:message>
	<wsdl:message name="setPortletsLifetime">
		<wsdl:part name="setPortletsLifetime" element="types:setPortletsLifetime"/>
	</wsdl:message>
	<wsdl:message name="setPortletsLifetimeResponse">
		<wsdl:part name="setPortletsLifetimeResponse" element="types:setPortletsLifetimeResponse"/>
	</wsdl:message>
	<wsdl:portType name="WSRP_v2_Markup_PortType">
		<wsdl:operation name="getMarkup">
			<wsdl:input message="intf:getMarkup" name="getMarkup"/>
			<wsdl:output message="intf:getMarkupResponse" name="getMarkupResponse"/>
			<wsdl:fault message="intf:AccessDenied" name="AccessDenied"/>
			<wsdl:fault message="intf:InconsistentParameters" name="InconsistentParameters"/>
			<wsdl:fault message="intf:InvalidCookie" name="InvalidCookie"/>
			<wsdl:fault message="intf:InvalidHandle" name="InvalidHandle"/>
			<wsdl:fault message="intf:InvalidRegistration" name="InvalidRegistration"/>
			<wsdl:fault message="intf:InvalidSession" name="InvalidSession"/>
			<wsdl:fault message="intf:InvalidUserCategory" name="InvalidUserCategory"/>
			<wsdl:fault message="intf:MissingParameters" name="MissingParameters"/>
			<wsdl:fault message="intf:ModifyRegistrationRequired" name="ModifyRegistrationRequired"/>
			<wsdl:fault message="intf:OperationFailed" name="OperationFailed"/>
			<wsdl:fault message="intf:ResourceSuspended" name="ResourceSuspended"/>
			<wsdl:fault message="intf:UnsupportedLocale" name="UnsupportedLocale"/>
			<wsdl:fault message="intf:UnsupportedMimeType" name="UnsupportedMimeType"/>
			<wsdl:fault message="intf:UnsupportedMode" name="UnsupportedMode"/>
			<wsdl:fault message="intf:UnsupportedWindowState" name="UnsupportedWindowState"/>
		</wsdl:operation>
		<wsdl:operation name="getResource">
			<wsdl:input message="intf:getResource" name="getResource"/>
			<wsdl:output message="intf:getResourceResponse" name="getResourceResponse"/>
			<wsdl:fault message="intf:AccessDenied" name="AccessDenied"/>
			<wsdl:fault message="intf:InconsistentParameters" name="InconsistentParameters"/>
			<wsdl:fault message="intf:InvalidCookie" name="InvalidCookie"/>
			<wsdl:fault message="intf:InvalidHandle" name="InvalidHandle"/>
			<wsdl:fault message="intf:InvalidRegistration" name="InvalidRegistration"/>
			<wsdl:fault message="intf:InvalidSession" name="InvalidSession"/>
			<wsdl:fault message="intf:InvalidUserCategory" name="InvalidUserCategory"/>
			<wsdl:fault message="intf:MissingParameters" name="MissingParameters"/>
			<wsdl:fault message="intf:ModifyRegistrationRequired" name="ModifyRegistrationRequired"/>
			<wsdl:fault message="intf:OperationFailed" name="OperationFailed"/>
			<wsdl:fault message="intf:OperationNotSupported" name="OperationNotSupported"/>
			<wsdl:fault message="intf:ResourceSuspended" name="ResourceSuspended"/>
			<wsdl:fault message="intf:UnsupportedLocale" name="UnsupportedLocale"/>
			<wsdl:fault message="intf:UnsupportedMimeType" name="UnsupportedMimeType"/>
			<wsdl:fault message="intf:UnsupportedMode" name="UnsupportedMode"/>
			<wsdl:fault message="intf:UnsupportedWindowState" name="UnsupportedWindowState"/>
		</wsdl:operation>
		<wsdl:operation name="performBlockingInteraction">
			<wsdl:input message="intf:performBlockingInteraction" name="performBlockingInteraction"/>
			<wsdl:output message="intf:performBlockingInteractionResponse" name="performBlockingInteractionResponse"/>
			<wsdl:fault message="intf:AccessDenied" name="AccessDenied"/>
			<wsdl:fault message="intf:InconsistentParameters" name="InconsistentParameters"/>
			<wsdl:fault message="intf:InvalidCookie" name="InvalidCookie"/>
			<wsdl:fault message="intf:InvalidHandle" name="InvalidHandle"/>
			<wsdl:fault message="intf:InvalidRegistration" name="InvalidRegistration"/>
			<wsdl:fault message="intf:InvalidSession" name="InvalidSession"/>
			<wsdl:fault message="intf:InvalidUserCategory" name="InvalidUserCategory"/>
			<wsdl:fault message="intf:MissingParameters" name="MissingParameters"/>
			<wsdl:fault message="intf:ModifyRegistrationRequired" name="ModifyRegistrationRequired"/>
			<wsdl:fault message="intf:OperationFailed" name="OperationFailed"/>
			<wsdl:fault message="intf:PortletStateChangeRequired" name="PortletStateChangeRequired"/>
			<wsdl:fault message="intf:ResourceSuspended" name="ResourceSuspended"/>
			<wsdl:fault message="intf:UnsupportedLocale" name="UnsupportedLocale"/>
			<wsdl:fault message="intf:UnsupportedMimeType" name="UnsupportedMimeType"/>
			<wsdl:fault message="intf:UnsupportedMode" name="UnsupportedMode"/>
			<wsdl:fault message="intf:UnsupportedWindowState" name="UnsupportedWindowState"/>
		</wsdl:operation>
		<wsdl:operation name="handleEvents">
			<wsdl:input message="intf:handleEvents" name="handleEvents"/>
			<wsdl:output message="intf:handleEventsResponse" name="handleEventsResponse"/>
			<wsdl:fault message="intf:AccessDenied" name="AccessDenied"/>
			<wsdl:fault message="intf:InconsistentParameters" name="InconsistentParameters"/>
			<wsdl:fault message="intf:InvalidCookie" name="InvalidCookie"/>
			<wsdl:fault message="intf:InvalidHandle" name="InvalidHandle"/>
			<wsdl:fault message="intf:InvalidRegistration" name="InvalidRegistration"/>
			<wsdl:fault message="intf:InvalidSession" name="InvalidSession"/>
			<wsdl:fault message="intf:InvalidUserCategory" name="InvalidUserCategory"/>
			<wsdl:fault message="intf:MissingParameters" name="MissingParameters"/>
			<wsdl:fault message="intf:ModifyRegistrationRequired" name="ModifyRegistrationRequired"/>
			<wsdl:fault message="intf:OperationFailed" name="OperationFailed"/>
			<wsdl:fault message="intf:OperationNotSupported" name="OperationNotSupported"/>
			<wsdl:fault message="intf:PortletStateChangeRequired" name="PortletStateChangeRequired"/>
			<wsdl:fault message="intf:ResourceSuspended" name="ResourceSuspended"/>
			<wsdl:fault message="intf:UnsupportedLocale" name="UnsupportedLocale"/>
			<wsdl:fault message="intf:UnsupportedMimeType" name="UnsupportedMimeType"/>
			<wsdl:fault message="intf:UnsupportedMode" name="UnsupportedMode"/>
			<wsdl:fault message="intf:UnsupportedWindowState" name="UnsupportedWindowState"/>
		</wsdl:operation>
		<wsdl:operation name="initCookie">
			<wsdl:input message="intf:initCookie" name="initCookie"/>
			<wsdl:output message="intf:initCookieResponse" name="initCookieResponse"/>
			<wsdl:fault message="intf:AccessDenied" name="AccessDenied"/>
			<wsdl:fault message="intf:InvalidRegistration" name="InvalidRegistration"/>
			<wsdl:fault message="intf:ModifyRegistrationRequired" name="ModifyRegistrationRequired"/>
			<wsdl:fault message="intf:OperationFailed" name="OperationFailed"/>
			<wsdl:fault message="intf:OperationNotSupported" name="OperationNotSupported"/>
			<wsdl:fault message="intf:ResourceSuspended" name="ResourceSuspended"/>
		</wsdl:operation>
		<wsdl:operation name="releaseSessions">
			<wsdl:input message="intf:releaseSessions" name="releaseSessions"/>
			<wsdl:output message="intf:releaseSessionsResponse" name="releaseSessionsResponse"/>
			<wsdl:fault message="intf:AccessDenied" name="AccessDenied"/>
			<wsdl:fault message="intf:InvalidRegistration" name="InvalidRegistration"/>
			<wsdl:fault message="intf:MissingParameters" name="MissingParameters"/>
			<wsdl:fault message="intf:ModifyRegistrationRequired" name="ModifyRegistrationRequired"/>
			<wsdl:fault message="intf:OperationFailed" name="OperationFailed"/>
			<wsdl:fault message="intf:OperationNotSupported" name="OperationNotSupported"/>
			<wsdl:fault message="intf:ResourceSuspended" name="ResourceSuspended"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:portType name="WSRP_v2_ServiceDescription_PortType">
		<wsdl:operation name="getServiceDescription">
			<wsdl:input message="intf:getServiceDescription" name="getServiceDescription"/>
			<wsdl:output message="intf:getServiceDescriptionResponse" name="getServiceDescriptionResponse"/>
			<wsdl:fault message="intf:InvalidRegistration" name="InvalidRegistration"/>
			<wsdl:fault message="intf:ModifyRegistrationRequired" name="ModifyRegistrationRequired"/>
			<wsdl:fault message="intf:OperationFailed" name="OperationFailed"/>
			<wsdl:fault message="intf:ResourceSuspended" name="ResourceSuspended"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:portType name="WSRP_v2_Registration_PortType">
		<wsdl:operation name="register">
			<wsdl:input message="intf:register" name="register"/>
			<wsdl:output message="intf:registerResponse" name="registerResponse"/>
			<wsdl:fault message="intf:MissingParameters" name="MissingParameters"/>
			<wsdl:fault message="intf:OperationFailed" name="OperationFailed"/>
			<wsdl:fault message="intf:OperationNotSupported" name="OperationNotSupported"/>
		</wsdl:operation>
		<wsdl:operation name="deregister">
			<wsdl:input message="intf:deregister" name="deregister"/>
			<wsdl:output message="intf:deregisterResponse" name="deregisterResponse"/>
			<wsdl:fault message="intf:InvalidRegistration" name="InvalidRegistration"/>
			<wsdl:fault message="intf:OperationFailed" name="OperationFailed"/>
			<wsdl:fault message="intf:OperationNotSupported" name="OperationNotSupported"/>
			<wsdl:fault message="intf:ResourceSuspended" name="ResourceSuspended"/>
		</wsdl:operation>
		<wsdl:operation name="modifyRegistration">
			<wsdl:input message="intf:modifyRegistration" name="modifyRegistration"/>
			<wsdl:output message="intf:modifyRegistrationResponse" name="modifyRegistrationResponse"/>
			<wsdl:fault message="intf:InvalidRegistration" name="InvalidRegistration"/>
			<wsdl:fault message="intf:MissingParameters" name="MissingParameters"/>
			<wsdl:fault message="intf:OperationFailed" name="OperationFailed"/>
			<wsdl:fault message="intf:OperationNotSupported" name="OperationNotSupported"/>
			<wsdl:fault message="intf:ResourceSuspended" name="ResourceSuspended"/>
		</wsdl:operation>
		<wsdl:operation name="getRegistrationLifetime">
			<wsdl:input message="intf:getRegistrationLifetime" name="getRegistrationLifetime"/>
			<wsdl:output message="intf:getRegistrationLifetimeResponse" name="getRegistrationLifetimeResponse"/>
			<wsdl:fault message="intf:AccessDenied" name="AccessDenied"/>
			<wsdl:fault message="intf:InvalidHandle" name="InvalidHandle"/>
			<wsdl:fault message="intf:InvalidRegistration" name="InvalidRegistration"/>
			<wsdl:fault message="intf:ModifyRegistrationRequired" name="ModifyRegistrationRequired"/>
			<wsdl:fault message="intf:OperationFailed" name="OperationFailed"/>
			<wsdl:fault message="intf:OperationNotSupported" name="OperationNotSupported"/>
			<wsdl:fault message="intf:ResourceSuspended" name="ResourceSuspended"/>
		</wsdl:operation>
		<wsdl:operation name="setRegistrationLifetime">
			<wsdl:input message="intf:setRegistrationLifetime" name="setRegistrationLifetime"/>
			<wsdl:output message="intf:setRegistrationLifetimeResponse" name="setRegistrationLifetimeResponse"/>
			<wsdl:fault message="intf:AccessDenied" name="AccessDenied"/>
			<wsdl:fault message="intf:InvalidHandle" name="InvalidHandle"/>
			<wsdl:fault message="intf:InvalidRegistration" name="InvalidRegistration"/>
			<wsdl:fault message="intf:ModifyRegistrationRequired" name="ModifyRegistrationRequired"/>
			<wsdl:fault message="intf:OperationFailed" name="OperationFailed"/>
			<wsdl:fault message="intf:OperationNotSupported" name="OperationNotSupported"/>
			<wsdl:fault message="intf:ResourceSuspended" name="ResourceSuspended"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:portType name="WSRP_v2_PortletManagement_PortType">
		<wsdl:operation name="getPortletDescription">
			<wsdl:input message="intf:getPortletDescription" name="getPortletDescription"/>
			<wsdl:output message="intf:getPortletDescriptionResponse" name="getPortletDescriptionResponse"/>
			<wsdl:fault message="intf:AccessDenied" name="AccessDenied"/>
			<wsdl:fault message="intf:InconsistentParameters" name="InconsistentParameters"/>
			<wsdl:fault message="intf:InvalidHandle" name="InvalidHandle"/>
			<wsdl:fault message="intf:InvalidRegistration" name="InvalidRegistration"/>
			<wsdl:fault message="intf:InvalidUserCategory" name="InvalidUserCategory"/>
			<wsdl:fault message="intf:MissingParameters" name="MissingParameters"/>
			<wsdl:fault message="intf:ModifyRegistrationRequired" name="ModifyRegistrationRequired"/>
			<wsdl:fault message="intf:OperationFailed" name="OperationFailed"/>
			<wsdl:fault message="intf:OperationNotSupported" name="OperationNotSupported"/>
			<wsdl:fault message="intf:ResourceSuspended" name="ResourceSuspended"/>
		</wsdl:operation>
		<wsdl:operation name="clonePortlet">
			<wsdl:input message="intf:clonePortlet" name="clonePortlet"/>
			<wsdl:output message="intf:clonePortletResponse" name="clonePortletResponse"/>
			<wsdl:fault message="intf:AccessDenied" name="AccessDenied"/>
			<wsdl:fault message="intf:InconsistentParameters" name="InconsistentParameters"/>
			<wsdl:fault message="intf:InvalidHandle" name="InvalidHandle"/>
			<wsdl:fault message="intf:InvalidRegistration" name="InvalidRegistration"/>
			<wsdl:fault message="intf:InvalidUserCategory" name="InvalidUserCategory"/>
			<wsdl:fault message="intf:MissingParameters" name="MissingParameters"/>
			<wsdl:fault message="intf:ModifyRegistrationRequired" name="ModifyRegistrationRequired"/>
			<wsdl:fault message="intf:OperationFailed" name="OperationFailed"/>
			<wsdl:fault message="intf:OperationNotSupported" name="OperationNotSupported"/>
			<wsdl:fault message="intf:ResourceSuspended" name="ResourceSuspended"/>
		</wsdl:operation>
		<wsdl:operation name="destroyPortlets">
			<wsdl:input message="intf:destroyPortlets" name="destroyPortlets"/>
			<wsdl:output message="intf:destroyPortletsResponse" name="destroyPortletsResponse"/>
			<wsdl:fault message="intf:InconsistentParameters" name="InconsistentParameters"/>
			<wsdl:fault message="intf:InvalidRegistration" name="InvalidRegistration"/>
			<wsdl:fault message="intf:MissingParameters" name="MissingParameters"/>
			<wsdl:fault message="intf:ModifyRegistrationRequired" name="ModifyRegistrationRequired"/>
			<wsdl:fault message="intf:OperationFailed" name="OperationFailed"/>
			<wsdl:fault message="intf:OperationNotSupported" name="OperationNotSupported"/>
			<wsdl:fault message="intf:ResourceSuspended" name="ResourceSuspended"/>
		</wsdl:operation>
		<wsdl:operation name="setPortletProperties">
			<wsdl:input message="intf:setPortletProperties" name="setPortletProperties"/>
			<wsdl:output message="intf:setPortletPropertiesResponse" name="setPortletPropertiesResponse"/>
			<wsdl:fault message="intf:AccessDenied" name="AccessDenied"/>
			<wsdl:fault message="intf:InconsistentParameters" name="InconsistentParameters"/>
			<wsdl:fault message="intf:InvalidHandle" name="InvalidHandle"/>
			<wsdl:fault message="intf:InvalidRegistration" name="InvalidRegistration"/>
			<wsdl:fault message="intf:InvalidUserCategory" name="InvalidUserCategory"/>
			<wsdl:fault message="intf:MissingParameters" name="MissingParameters"/>
			<wsdl:fault message="intf:ModifyRegistrationRequired" name="ModifyRegistrationRequired"/>
			<wsdl:fault message="intf:OperationFailed" name="OperationFailed"/>
			<wsdl:fault message="intf:OperationNotSupported" name="OperationNotSupported"/>
			<wsdl:fault message="intf:ResourceSuspended" name="ResourceSuspended"/>
		</wsdl:operation>
		<wsdl:operation name="getPortletProperties">
			<wsdl:input message="intf:getPortletProperties" name="getPortletProperties"/>
			<wsdl:output message="intf:getPortletPropertiesResponse" name="getPortletPropertiesResponse"/>
			<wsdl:fault message="intf:AccessDenied" name="AccessDenied"/>
			<wsdl:fault message="intf:InconsistentParameters" name="InconsistentParameters"/>
			<wsdl:fault message="intf:InvalidHandle" name="InvalidHandle"/>
			<wsdl:fault message="intf:InvalidRegistration" name="InvalidRegistration"/>
			<wsdl:fault message="intf:InvalidUserCategory" name="InvalidUserCategory"/>
			<wsdl:fault message="intf:MissingParameters" name="MissingParameters"/>
			<wsdl:fault message="intf:ModifyRegistrationRequired" name="ModifyRegistrationRequired"/>
			<wsdl:fault message="intf:OperationFailed" name="OperationFailed"/>
			<wsdl:fault message="intf:OperationNotSupported" name="OperationNotSupported"/>
			<wsdl:fault message="intf:ResourceSuspended" name="ResourceSuspended"/>
		</wsdl:operation>
		<wsdl:operation name="getPortletPropertyDescription">
			<wsdl:input message="intf:getPortletPropertyDescription" name="getPortletPropertyDescription"/>
			<wsdl:output message="intf:getPortletPropertyDescriptionResponse" name="getPortletPropertyDescriptionResponse"/>
			<wsdl:fault message="intf:AccessDenied" name="AccessDenied"/>
			<wsdl:fault message="intf:InconsistentParameters" name="InconsistentParameters"/>
			<wsdl:fault message="intf:InvalidHandle" name="InvalidHandle"/>
			<wsdl:fault message="intf:InvalidRegistration" name="InvalidRegistration"/>
			<wsdl:fault message="intf:InvalidUserCategory" name="InvalidUserCategory"/>
			<wsdl:fault message="intf:MissingParameters" name="MissingParameters"/>
			<wsdl:fault message="intf:ModifyRegistrationRequired" name="ModifyRegistrationRequired"/>
			<wsdl:fault message="intf:OperationFailed" name="OperationFailed"/>
			<wsdl:fault message="intf:OperationNotSupported" name="OperationNotSupported"/>
			<wsdl:fault message="intf:ResourceSuspended" name="ResourceSuspended"/>
		</wsdl:operation>
		<wsdl:operation name="copyPortlets">
			<wsdl:input message="intf:copyPortlets" name="copyPortlets"/>
			<wsdl:output message="intf:copyPortletsResponse" name="copyPortletsResponse"/>
			<wsdl:fault message="intf:AccessDenied" name="AccessDenied"/>
			<wsdl:fault message="intf:InconsistentParameters" name="InconsistentParameters"/>
			<wsdl:fault message="intf:InvalidHandle" name="InvalidHandle"/>
			<wsdl:fault message="intf:InvalidRegistration" name="InvalidRegistration"/>
			<wsdl:fault message="intf:InvalidUserCategory" name="InvalidUserCategory"/>
			<wsdl:fault message="intf:MissingParameters" name="MissingParameters"/>
			<wsdl:fault message="intf:ModifyRegistrationRequired" name="ModifyRegistrationRequired"/>
			<wsdl:fault message="intf:OperationFailed" name="OperationFailed"/>
			<wsdl:fault message="intf:OperationNotSupported" name="OperationNotSupported"/>
			<wsdl:fault message="intf:ResourceSuspended" name="ResourceSuspended"/>
		</wsdl:operation>
		<wsdl:operation name="exportPortlets">
			<wsdl:input message="intf:exportPortlets" name="exportPortlets"/>
			<wsdl:output message="intf:exportPortletsResponse" name="exportPortletsResponse"/>
			<wsdl:fault message="intf:AccessDenied" name="AccessDenied"/>
			<wsdl:fault message="intf:InconsistentParameters" name="InconsistentParameters"/>
			<wsdl:fault message="intf:InvalidHandle" name="InvalidHandle"/>
			<wsdl:fault message="intf:InvalidRegistration" name="InvalidRegistration"/>
			<wsdl:fault message="intf:InvalidUserCategory" name="InvalidUserCategory"/>
			<wsdl:fault message="intf:MissingParameters" name="MissingParameters"/>
			<wsdl:fault message="intf:ModifyRegistrationRequired" name="ModifyRegistrationRequired"/>
			<wsdl:fault message="intf:OperationFailed" name="OperationFailed"/>
			<wsdl:fault message="intf:OperationNotSupported" name="OperationNotSupported"/>
			<wsdl:fault message="intf:ResourceSuspended" name="ResourceSuspended"/>
			<wsdl:fault message="intf:ExportByValueNotSupported" name="ExportByValueNotSupported"/>
		</wsdl:operation>
		<wsdl:operation name="importPortlets">
			<wsdl:input message="intf:importPortlets" name="importPortlets"/>
			<wsdl:output message="intf:importPortletsResponse" name="importPortletsResponse"/>
			<wsdl:fault message="intf:AccessDenied" name="AccessDenied"/>
			<wsdl:fault message="intf:InconsistentParameters" name="InconsistentParameters"/>
			<wsdl:fault message="intf:InvalidRegistration" name="InvalidRegistration"/>
			<wsdl:fault message="intf:InvalidUserCategory" name="InvalidUserCategory"/>
			<wsdl:fault message="intf:MissingParameters" name="MissingParameters"/>
			<wsdl:fault message="intf:ModifyRegistrationRequired" name="ModifyRegistrationRequired"/>
			<wsdl:fault message="intf:OperationFailed" name="OperationFailed"/>
			<wsdl:fault message="intf:OperationNotSupported" name="OperationNotSupported"/>
			<wsdl:fault message="intf:ResourceSuspended" name="ResourceSuspended"/>
			<wsdl:fault message="intf:ExportNoLongerValid" name="ExportNoLongerValid"/>
		</wsdl:operation>
		<wsdl:operation name="releaseExport">
			<wsdl:input message="intf:releaseExport" name="releaseExport"/>
			<wsdl:output message="intf:releaseExportResponse" name="releaseExportResponse"/>
		</wsdl:operation>
		<wsdl:operation name="setExportLifetime">
			<wsdl:input message="intf:setExportLifetime" name="setExportLifetime"/>
			<wsdl:output message="intf:setExportLifetimeResponse" name="setExportLifetimeResponse"/>
			<wsdl:fault message="intf:AccessDenied" name="AccessDenied"/>
			<wsdl:fault message="intf:InvalidHandle" name="InvalidHandle"/>
			<wsdl:fault message="intf:InvalidRegistration" name="InvalidRegistration"/>
			<wsdl:fault message="intf:ModifyRegistrationRequired" name="ModifyRegistrationRequired"/>
			<wsdl:fault message="intf:OperationFailed" name="OperationFailed"/>
			<wsdl:fault message="intf:OperationNotSupported" name="OperationNotSupported"/>
			<wsdl:fault message="intf:ResourceSuspended" name="ResourceSuspended"/>
		</wsdl:operation>
		<wsdl:operation name="getPortletsLifetime">
			<wsdl:input message="intf:getPortletsLifetime" name="getPortletsLifetime"/>
			<wsdl:output message="intf:getPortletsLifetimeResponse" name="getPortletsLifetimeResponse"/>
			<wsdl:fault message="intf:AccessDenied" name="AccessDenied"/>
			<wsdl:fault message="intf:InconsistentParameters" name="InconsistentParameters"/>
			<wsdl:fault message="intf:InvalidHandle" name="InvalidHandle"/>
			<wsdl:fault message="intf:InvalidRegistration" name="InvalidRegistration"/>
			<wsdl:fault message="intf:ModifyRegistrationRequired" name="ModifyRegistrationRequired"/>
			<wsdl:fault message="intf:OperationFailed" name="OperationFailed"/>
			<wsdl:fault message="intf:OperationNotSupported" name="OperationNotSupported"/>
			<wsdl:fault message="intf:ResourceSuspended" name="ResourceSuspended"/>
		</wsdl:operation>
		<wsdl:operation name="setPortletsLifetime">
			<wsdl:input message="intf:setPortletsLifetime" name="setPortletsLifetime"/>
			<wsdl:output message="intf:setPortletsLifetimeResponse" name="setPortletsLifetimeResponse"/>
			<wsdl:fault message="intf:AccessDenied" name="AccessDenied"/>
			<wsdl:fault message="intf:InconsistentParameters" name="InconsistentParameters"/>
			<wsdl:fault message="intf:InvalidHandle" name="InvalidHandle"/>
			<wsdl:fault message="intf:InvalidRegistration" name="InvalidRegistration"/>
			<wsdl:fault message="intf:ModifyRegistrationRequired" name="ModifyRegistrationRequired"/>
			<wsdl:fault message="intf:OperationFailed" name="OperationFailed"/>
			<wsdl:fault message="intf:OperationNotSupported" name="OperationNotSupported"/>
			<wsdl:fault message="intf:ResourceSuspended" name="ResourceSuspended"/>
		</wsdl:operation>
	</wsdl:portType>
</wsdl:definitions>