portlets/wsrp-portlet/docroot/WEB-INF/wsdl/wsrp-2.0-bindings.wsdl

<?xml version="1.0"?>

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:bind="urn:oasis:names:tc:wsrp:v2:bind" xmlns:intf="urn:oasis:names:tc:wsrp:v2:intf" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="urn:oasis:names:tc:wsrp:v2:bind">
	<import namespace="urn:oasis:names:tc:wsrp:v2:intf" location="wsrp-2.0-interfaces.wsdl"/>
	<wsdl:binding name="WSRP_v2_Markup_Binding_SOAP" type="intf:WSRP_v2_Markup_PortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="getMarkup">
			<soap:operation soapAction="urn:oasis:names:tc:wsrp:v2:getMarkup"/>
			<wsdl:input name="getMarkup">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="getMarkupResponse">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="AccessDenied">
				<soap:fault name="AccessDenied" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="InconsistentParameters">
				<soap:fault name="InconsistentParameters" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="InvalidCookie">
				<soap:fault name="InvalidCookie" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="InvalidHandle">
				<soap:fault name="InvalidHandle" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="InvalidRegistration">
				<soap:fault name="InvalidRegistration" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="InvalidSession">
				<soap:fault name="InvalidSession" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="InvalidUserCategory">
				<soap:fault name="InvalidUserCategory" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="MissingParameters">
				<soap:fault name="MissingParameters" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="ModifyRegistrationRequired">
				<soap:fault name="ModifyRegistrationRequired" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="OperationFailed">
				<soap:fault name="OperationFailed" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="ResourceSuspended">
				<soap:fault name="ResourceSuspended" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="UnsupportedLocale">
				<soap:fault name="UnsupportedLocale" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="UnsupportedMimeType">
				<soap:fault name="UnsupportedMimeType" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="UnsupportedMode">
				<soap:fault name="UnsupportedMode" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="UnsupportedWindowState">
				<soap:fault name="UnsupportedWindowState" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getResource">
			<soap:operation soapAction="urn:oasis:names:tc:wsrp:v2:getResource"/>
			<wsdl:input name="getResource">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="getResourceResponse">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="AccessDenied">
				<soap:fault name="AccessDenied" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="InconsistentParameters">
				<soap:fault name="InconsistentParameters" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="InvalidCookie">
				<soap:fault name="InvalidCookie" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="InvalidHandle">
				<soap:fault name="InvalidHandle" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="InvalidRegistration">
				<soap:fault name="InvalidRegistration" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="InvalidSession">
				<soap:fault name="InvalidSession" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="InvalidUserCategory">
				<soap:fault name="InvalidUserCategory" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="MissingParameters">
				<soap:fault name="MissingParameters" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="ModifyRegistrationRequired">
				<soap:fault name="ModifyRegistrationRequired" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="OperationFailed">
				<soap:fault name="OperationFailed" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="OperationNotSupported">
				<soap:fault name="OperationNotSupported" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="ResourceSuspended">
				<soap:fault name="ResourceSuspended" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="UnsupportedLocale">
				<soap:fault name="UnsupportedLocale" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="UnsupportedMimeType">
				<soap:fault name="UnsupportedMimeType" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="UnsupportedMode">
				<soap:fault name="UnsupportedMode" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="UnsupportedWindowState">
				<soap:fault name="UnsupportedWindowState" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="performBlockingInteraction">
			<soap:operation soapAction="urn:oasis:names:tc:wsrp:v2:performBlockingInteraction"/>
			<wsdl:input name="performBlockingInteraction">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="performBlockingInteractionResponse">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="AccessDenied">
				<soap:fault name="AccessDenied" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="InconsistentParameters">
				<soap:fault name="InconsistentParameters" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="InvalidCookie">
				<soap:fault name="InvalidCookie" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="InvalidHandle">
				<soap:fault name="InvalidHandle" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="InvalidRegistration">
				<soap:fault name="InvalidRegistration" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="InvalidSession">
				<soap:fault name="InvalidSession" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="InvalidUserCategory">
				<soap:fault name="InvalidUserCategory" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="MissingParameters">
				<soap:fault name="MissingParameters" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="ModifyRegistrationRequired">
				<soap:fault name="ModifyRegistrationRequired" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="OperationFailed">
				<soap:fault name="OperationFailed" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="PortletStateChangeRequired">
				<soap:fault name="PortletStateChangeRequired" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="ResourceSuspended">
				<soap:fault name="ResourceSuspended" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="UnsupportedLocale">
				<soap:fault name="UnsupportedLocale" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="UnsupportedMimeType">
				<soap:fault name="UnsupportedMimeType" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="UnsupportedMode">
				<soap:fault name="UnsupportedMode" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="UnsupportedWindowState">
				<soap:fault name="UnsupportedWindowState" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="handleEvents">
			<soap:operation soapAction="urn:oasis:names:tc:wsrp:v2:handleEvents"/>
			<wsdl:input name="handleEvents">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="handleEventsResponse">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="AccessDenied">
				<soap:fault name="AccessDenied" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="InconsistentParameters">
				<soap:fault name="InconsistentParameters" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="InvalidCookie">
				<soap:fault name="InvalidCookie" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="InvalidHandle">
				<soap:fault name="InvalidHandle" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="InvalidRegistration">
				<soap:fault name="InvalidRegistration" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="InvalidSession">
				<soap:fault name="InvalidSession" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="InvalidUserCategory">
				<soap:fault name="InvalidUserCategory" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="MissingParameters">
				<soap:fault name="MissingParameters" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="ModifyRegistrationRequired">
				<soap:fault name="ModifyRegistrationRequired" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="OperationFailed">
				<soap:fault name="OperationFailed" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="OperationNotSupported">
				<soap:fault name="OperationNotSupported" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="PortletStateChangeRequired">
				<soap:fault name="PortletStateChangeRequired" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="ResourceSuspended">
				<soap:fault name="ResourceSuspended" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="UnsupportedLocale">
				<soap:fault name="UnsupportedLocale" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="UnsupportedMimeType">
				<soap:fault name="UnsupportedMimeType" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="UnsupportedMode">
				<soap:fault name="UnsupportedMode" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="UnsupportedWindowState">
				<soap:fault name="UnsupportedWindowState" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="releaseSessions">
			<soap:operation soapAction="urn:oasis:names:tc:wsrp:v2:releaseSessions"/>
			<wsdl:input name="releaseSessions">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="releaseSessionsResponse">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="AccessDenied">
				<soap:fault name="AccessDenied" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="InvalidRegistration">
				<soap:fault name="InvalidRegistration" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="MissingParameters">
				<soap:fault name="MissingParameters" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="ModifyRegistrationRequired">
				<soap:fault name="ModifyRegistrationRequired" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="OperationFailed">
				<soap:fault name="OperationFailed" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="OperationNotSupported">
				<soap:fault name="OperationNotSupported" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="ResourceSuspended">
				<soap:fault name="ResourceSuspended" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="initCookie">
			<soap:operation soapAction="urn:oasis:names:tc:wsrp:v2:initCookie"/>
			<wsdl:input name="initCookie">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="initCookieResponse">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="AccessDenied">
				<soap:fault name="AccessDenied" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="InvalidRegistration">
				<soap:fault name="InvalidRegistration" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="ModifyRegistrationRequired">
				<soap:fault name="ModifyRegistrationRequired" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="OperationFailed">
				<soap:fault name="OperationFailed" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="OperationNotSupported">
				<soap:fault name="OperationNotSupported" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="ResourceSuspended">
				<soap:fault name="ResourceSuspended" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="WSRP_v2_ServiceDescription_Binding_SOAP" type="intf:WSRP_v2_ServiceDescription_PortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="getServiceDescription">
			<soap:operation soapAction="urn:oasis:names:tc:wsrp:v2:getServiceDescription"/>
			<wsdl:input name="getServiceDescription">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="getServiceDescriptionResponse">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="InvalidRegistration">
				<soap:fault name="InvalidRegistration" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="ModifyRegistrationRequired">
				<soap:fault name="ModifyRegistrationRequired" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="OperationFailed">
				<soap:fault name="OperationFailed" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="ResourceSuspended">
				<soap:fault name="ResourceSuspended" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="WSRP_v2_PortletManagement_Binding_SOAP" type="intf:WSRP_v2_PortletManagement_PortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="getPortletDescription">
			<soap:operation soapAction="urn:oasis:names:tc:wsrp:v2:getPortletDescription"/>
			<wsdl:input name="getPortletDescription">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="getPortletDescriptionResponse">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="AccessDenied">
				<soap:fault name="AccessDenied" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="InconsistentParameters">
				<soap:fault name="InconsistentParameters" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="InvalidHandle">
				<soap:fault name="InvalidHandle" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="InvalidRegistration">
				<soap:fault name="InvalidRegistration" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="InvalidUserCategory">
				<soap:fault name="InvalidUserCategory" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="MissingParameters">
				<soap:fault name="MissingParameters" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="ModifyRegistrationRequired">
				<soap:fault name="ModifyRegistrationRequired" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="OperationFailed">
				<soap:fault name="OperationFailed" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="OperationNotSupported">
				<soap:fault name="OperationNotSupported" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="ResourceSuspended">
				<soap:fault name="ResourceSuspended" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="clonePortlet">
			<soap:operation soapAction="urn:oasis:names:tc:wsrp:v2:clonePortlet"/>
			<wsdl:input name="clonePortlet">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="clonePortletResponse">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="AccessDenied">
				<soap:fault name="AccessDenied" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="InconsistentParameters">
				<soap:fault name="InconsistentParameters" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="InvalidHandle">
				<soap:fault name="InvalidHandle" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="InvalidRegistration">
				<soap:fault name="InvalidRegistration" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="InvalidUserCategory">
				<soap:fault name="InvalidUserCategory" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="MissingParameters">
				<soap:fault name="MissingParameters" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="ModifyRegistrationRequired">
				<soap:fault name="ModifyRegistrationRequired" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="OperationFailed">
				<soap:fault name="OperationFailed" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="OperationNotSupported">
				<soap:fault name="OperationNotSupported" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="ResourceSuspended">
				<soap:fault name="ResourceSuspended" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="destroyPortlets">
			<soap:operation soapAction="urn:oasis:names:tc:wsrp:v2:destroyPortlets"/>
			<wsdl:input name="destroyPortlets">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="destroyPortletsResponse">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="InconsistentParameters">
				<soap:fault name="InconsistentParameters" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="InvalidRegistration">
				<soap:fault name="InvalidRegistration" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="MissingParameters">
				<soap:fault name="MissingParameters" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="ModifyRegistrationRequired">
				<soap:fault name="ModifyRegistrationRequired" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="OperationFailed">
				<soap:fault name="OperationFailed" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="OperationNotSupported">
				<soap:fault name="OperationNotSupported" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="ResourceSuspended">
				<soap:fault name="ResourceSuspended" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getPortletsLifetime">
			<soap:operation soapAction="urn:oasis:names:tc:wsrp:v2:getPortletsLifetime"/>
			<wsdl:input name="getPortletsLifetime">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="getPortletsLifetimeResponse">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="AccessDenied">
				<soap:fault name="AccessDenied" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="InconsistentParameters">
				<soap:fault name="InconsistentParameters" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="InvalidHandle">
				<soap:fault name="InvalidHandle" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="InvalidRegistration">
				<soap:fault name="InvalidRegistration" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="ModifyRegistrationRequired">
				<soap:fault name="ModifyRegistrationRequired" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="OperationFailed">
				<soap:fault name="OperationFailed" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="OperationNotSupported">
				<soap:fault name="OperationNotSupported" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="ResourceSuspended">
				<soap:fault name="ResourceSuspended" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="setPortletsLifetime">
			<soap:operation soapAction="urn:oasis:names:tc:wsrp:v2:setPortletsLifetime"/>
			<wsdl:input name="setPortletsLifetime">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="setPortletsLifetimeResponse">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="AccessDenied">
				<soap:fault name="AccessDenied" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="InconsistentParameters">
				<soap:fault name="InconsistentParameters" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="InvalidHandle">
				<soap:fault name="InvalidHandle" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="InvalidRegistration">
				<soap:fault name="InvalidRegistration" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="ModifyRegistrationRequired">
				<soap:fault name="ModifyRegistrationRequired" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="OperationFailed">
				<soap:fault name="OperationFailed" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="OperationNotSupported">
				<soap:fault name="OperationNotSupported" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="ResourceSuspended">
				<soap:fault name="ResourceSuspended" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="copyPortlets">
			<soap:operation soapAction="urn:oasis:names:tc:wsrp:v2:copyPortlets"/>
			<wsdl:input name="copyPortlets">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="copyPortletsResponse">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="AccessDenied">
				<soap:fault name="AccessDenied" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="InconsistentParameters">
				<soap:fault name="InconsistentParameters" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="InvalidHandle">
				<soap:fault name="InvalidHandle" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="InvalidRegistration">
				<soap:fault name="InvalidRegistration" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="InvalidUserCategory">
				<soap:fault name="InvalidUserCategory" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="MissingParameters">
				<soap:fault name="MissingParameters" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="ModifyRegistrationRequired">
				<soap:fault name="ModifyRegistrationRequired" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="OperationFailed">
				<soap:fault name="OperationFailed" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="OperationNotSupported">
				<soap:fault name="OperationNotSupported" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="ResourceSuspended">
				<soap:fault name="ResourceSuspended" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="exportPortlets">
			<soap:operation soapAction="urn:oasis:names:tc:wsrp:v2:exportPortlet"/>
			<wsdl:input name="exportPortlets">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="exportPortletsResponse">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="AccessDenied">
				<soap:fault name="AccessDenied" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="InconsistentParameters">
				<soap:fault name="InconsistentParameters" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="InvalidHandle">
				<soap:fault name="InvalidHandle" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="InvalidRegistration">
				<soap:fault name="InvalidRegistration" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="InvalidUserCategory">
				<soap:fault name="InvalidUserCategory" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="MissingParameters">
				<soap:fault name="MissingParameters" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="ModifyRegistrationRequired">
				<soap:fault name="ModifyRegistrationRequired" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="OperationFailed">
				<soap:fault name="OperationFailed" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="OperationNotSupported">
				<soap:fault name="OperationNotSupported" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="ResourceSuspended">
				<soap:fault name="ResourceSuspended" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="ExportByValueNotSupported">
				<soap:fault name="ExportByValueNotSupported" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="importPortlets">
			<soap:operation soapAction="urn:oasis:names:tc:wsrp:v2:importPortlet"/>
			<wsdl:input name="importPortlets">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="importPortletsResponse">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="AccessDenied">
				<soap:fault name="AccessDenied" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="InconsistentParameters">
				<soap:fault name="InconsistentParameters" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="InvalidRegistration">
				<soap:fault name="InvalidRegistration" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="InvalidUserCategory">
				<soap:fault name="InvalidUserCategory" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="MissingParameters">
				<soap:fault name="MissingParameters" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="ModifyRegistrationRequired">
				<soap:fault name="ModifyRegistrationRequired" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="OperationFailed">
				<soap:fault name="OperationFailed" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="OperationNotSupported">
				<soap:fault name="OperationNotSupported" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="ResourceSuspended">
				<soap:fault name="ResourceSuspended" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="ExportNoLongerValid">
				<soap:fault name="ExportNoLongerValid" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="releaseExport">
			<soap:operation soapAction="urn:oasis:names:tc:wsrp:v2:importPortlet"/>
			<wsdl:input name="releaseExport">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="releaseExportResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="setExportLifetime">
			<soap:operation soapAction="urn:oasis:names:tc:wsrp:v2:setExportLifetime"/>
			<wsdl:input name="setExportLifetime">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="setExportLifetimeResponse">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="AccessDenied">
				<soap:fault name="AccessDenied" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="InvalidHandle">
				<soap:fault name="InvalidHandle" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="InvalidRegistration">
				<soap:fault name="InvalidRegistration" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="ModifyRegistrationRequired">
				<soap:fault name="ModifyRegistrationRequired" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="OperationFailed">
				<soap:fault name="OperationFailed" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="OperationNotSupported">
				<soap:fault name="OperationNotSupported" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="ResourceSuspended">
				<soap:fault name="ResourceSuspended" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="setPortletProperties">
			<soap:operation soapAction="urn:oasis:names:tc:wsrp:v2:setPortletProperties"/>
			<wsdl:input name="setPortletProperties">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="setPortletPropertiesResponse">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="AccessDenied">
				<soap:fault name="AccessDenied" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="InconsistentParameters">
				<soap:fault name="InconsistentParameters" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="InvalidHandle">
				<soap:fault name="InvalidHandle" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="InvalidRegistration">
				<soap:fault name="InvalidRegistration" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="InvalidUserCategory">
				<soap:fault name="InvalidUserCategory" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="MissingParameters">
				<soap:fault name="MissingParameters" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="ModifyRegistrationRequired">
				<soap:fault name="ModifyRegistrationRequired" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="OperationFailed">
				<soap:fault name="OperationFailed" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="OperationNotSupported">
				<soap:fault name="OperationNotSupported" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="ResourceSuspended">
				<soap:fault name="ResourceSuspended" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getPortletProperties">
			<soap:operation soapAction="urn:oasis:names:tc:wsrp:v2:getPortletProperties"/>
			<wsdl:input name="getPortletProperties">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="getPortletPropertiesResponse">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="AccessDenied">
				<soap:fault name="AccessDenied" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="InconsistentParameters">
				<soap:fault name="InconsistentParameters" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="InvalidHandle">
				<soap:fault name="InvalidHandle" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="InvalidRegistration">
				<soap:fault name="InvalidRegistration" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="InvalidUserCategory">
				<soap:fault name="InvalidUserCategory" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="MissingParameters">
				<soap:fault name="MissingParameters" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="ModifyRegistrationRequired">
				<soap:fault name="ModifyRegistrationRequired" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="OperationFailed">
				<soap:fault name="OperationFailed" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="OperationNotSupported">
				<soap:fault name="OperationNotSupported" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="ResourceSuspended">
				<soap:fault name="ResourceSuspended" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getPortletPropertyDescription">
			<soap:operation soapAction="urn:oasis:names:tc:wsrp:v2:getPortletPropertyDescription"/>
			<wsdl:input name="getPortletPropertyDescription">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="getPortletPropertyDescriptionResponse">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="AccessDenied">
				<soap:fault name="AccessDenied" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="InconsistentParameters">
				<soap:fault name="InconsistentParameters" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="InvalidHandle">
				<soap:fault name="InvalidHandle" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="InvalidRegistration">
				<soap:fault name="InvalidRegistration" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="InvalidUserCategory">
				<soap:fault name="InvalidUserCategory" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="MissingParameters">
				<soap:fault name="MissingParameters" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="ModifyRegistrationRequired">
				<soap:fault name="ModifyRegistrationRequired" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="OperationFailed">
				<soap:fault name="OperationFailed" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="OperationNotSupported">
				<soap:fault name="OperationNotSupported" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="ResourceSuspended">
				<soap:fault name="ResourceSuspended" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="WSRP_v2_Registration_Binding_SOAP" type="intf:WSRP_v2_Registration_PortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="register">
			<soap:operation soapAction="urn:oasis:names:tc:wsrp:v2:register"/>
			<wsdl:input name="register">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="registerResponse">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="MissingParameters">
				<soap:fault name="MissingParameters" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="OperationFailed">
				<soap:fault name="OperationFailed" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="OperationNotSupported">
				<soap:fault name="OperationNotSupported" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="deregister">
			<soap:operation soapAction="urn:oasis:names:tc:wsrp:v2:deregister"/>
			<wsdl:input name="deregister">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="deregisterResponse">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="InvalidRegistration">
				<soap:fault name="InvalidRegistration" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="OperationFailed">
				<soap:fault name="OperationFailed" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="OperationNotSupported">
				<soap:fault name="OperationNotSupported" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="ResourceSuspended">
				<soap:fault name="ResourceSuspended" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="modifyRegistration">
			<soap:operation soapAction="urn:oasis:names:tc:wsrp:v2:modifyRegistration"/>
			<wsdl:input name="modifyRegistration">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="modifyRegistrationResponse">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="InvalidRegistration">
				<soap:fault name="InvalidRegistration" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="MissingParameters">
				<soap:fault name="MissingParameters" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="OperationFailed">
				<soap:fault name="OperationFailed" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="OperationNotSupported">
				<soap:fault name="OperationNotSupported" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="ResourceSuspended">
				<soap:fault name="ResourceSuspended" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getRegistrationLifetime">
			<soap:operation soapAction="urn:oasis:names:tc:wsrp:v2:getRegistrationLifetime"/>
			<wsdl:input name="getRegistrationLifetime">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="getRegistrationLifetimeResponse">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="AccessDenied">
				<soap:fault name="AccessDenied" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="InvalidHandle">
				<soap:fault name="InvalidHandle" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="InvalidRegistration">
				<soap:fault name="InvalidRegistration" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="ModifyRegistrationRequired">
				<soap:fault name="ModifyRegistrationRequired" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="OperationFailed">
				<soap:fault name="OperationFailed" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="OperationNotSupported">
				<soap:fault name="OperationNotSupported" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="ResourceSuspended">
				<soap:fault name="ResourceSuspended" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="setRegistrationLifetime">
			<soap:operation soapAction="urn:oasis:names:tc:wsrp:v2:setRegistrationLifetime"/>
			<wsdl:input name="setRegistrationLifetime">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="setRegistrationLifetimeResponse">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="AccessDenied">
				<soap:fault name="AccessDenied" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="InvalidHandle">
				<soap:fault name="InvalidHandle" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="InvalidRegistration">
				<soap:fault name="InvalidRegistration" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="ModifyRegistrationRequired">
				<soap:fault name="ModifyRegistrationRequired" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="OperationFailed">
				<soap:fault name="OperationFailed" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="OperationNotSupported">
				<soap:fault name="OperationNotSupported" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="ResourceSuspended">
				<soap:fault name="ResourceSuspended" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
</wsdl:definitions>